@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .k {
    border: 1px solid red;
  }

  .h6 {
    font-weight: 700;
    font-size: 34px;
  }

  .b {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.268);
  }

  .t {
    @apply transition-all duration-300 ease-in-out cursor-pointer;
  }

  .link {
    color: rgb(73, 9, 191);
  }

  .shadw {
    box-shadow: 0 0 0px 3px rgba(145, 3, 3, 0.498);
  }

  .mainShadw {
    box-shadow: 0 0 2px 5px rgba(39, 38, 43, 0.171);
  }

  .inactive {
    opacity: 0.5;
  }

  .active {
    opacity: 1;
  }

  .btn-main {
    @apply px-6 py-3 font-light text-white bg-primary rounded-lg;
  }

  .btn-link {
    @apply px-6 py-3 font-light text-primary font-bold bg-primary50 rounded-lg;
  }
}

:root {
  font-family: "Sora", sans-serif;
  color: #120b48;
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}
