@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(136, 141, 195, 0.404);
  color: rgb(15, 0, 113);
  font-family: "Nunito", sans-serif;
  min-height: 100svh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(176, 175, 254);
  height: 100%;
  width: min(90%, 350px);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.404);
}

[data-testid="slackUserName"] {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

[data-testid="slackDisplayImage"] {
  width: 10rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

[data-testid="currentDayOfTheWeek"], 
[data-testid="currentUTCTime"], 
[data-testid="myTrack"] {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

[data-testid="githubURL"] {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: aliceblue;
}
