@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(228, 230, 252, 0.404);
  color: rgb(15, 0, 113);
  text-align: left;
  font-family: "Nunito", sans-serif;
  min-height: 100svh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: 10px;
  width: min(90vw, 500px);
  background-color: rgb(206, 222, 255);
  padding: 10px;
  box-shadow: 0 0 5px 2px rgba(27, 8, 68, 0.208);
  margin: 25px 0;
}

.wrapper {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(174, 201, 255);
}

.wrapper > h3 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -1px;
}

.wrapper > img {
  width: max(5rem, 9.5rem);
  aspect-ratio: 1 / 1;
  border-radius: 10px;
}

.wrapper > p {
  font-weight: 600;
  font-size: 0.9rem;
}

.wrapper > a {
  text-decoration: none;
  color: rgb(66, 36, 255);
  font-weight: 800;
}
